<template>
  <button :class="classes" :disabled="disabled || loading" @click="onClick">
    <div v-if="loading" :class="`spinner-border spinner-border-${size}`" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <slot v-else></slot>
  </button>
</template>

<script>
export default {
  name: 'InputButton',
  props: {
    disabled: Boolean,
    loading: Boolean,
    block: Boolean,
    rounded: Boolean,
    outlined: Boolean,
    variant: {
      type: String,
      default: 'primary',
      validator: (item) => [
        'primary',
        'secondary',
        'success',
        'danger',
        'warning',
        'info',
        'light',
        'dark',
        'link',
      ].includes(item),
    },
    size: {
      type: String,
      default: 'md',
      validator: (item) => ['sm', 'md', 'lg'].includes(item),
    },
  },
  computed: {
    classes() {
      const variantClass = `btn-${this.outlined && this.variant !== 'link' ? 'outline-' : ''}${this.variant}`;

      return {
        'input-button': true,
        btn: true,
        [variantClass]: true,
        [`btn-${this.size}`]: true,
        'btn-block': this.block,
        'btn-rounded': this.rounded,
      };
    },
  },
  methods: {
    onClick() {
      this.$emit('click');
    },
  },
};
</script>

<style lang="scss" scoped src="./InputButton.scss"></style>
